@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../main';
@import '../_button';
@import '../_img';

.col-5 {
  padding-right: 5px;
}

.inline-block {
  display: inline-block;
}

.ml-logo {
  margin-left: 10%;
  margin-right: 50px;
}

.mt-header {
  margin-top: 1.2%;
}

.mr-app {
  text-align: right;
  right: 35px;
}

.padding-search {
  padding-left: 1px;
  padding-right: 5px;
}
