@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../main';
@import '../_button';
@import '../_img';

.col, col-7 {
  margin: 0;
  padding: 0;
}

.mt-header {
  margin-top: 1%;
}

.ml-logo {
  margin-left: 10%;
}

.mr-input {
  margin-left: 5%;
  margin-right: 3%;
}

.inline-block {
  display: inline-block;
}
