<div class="row">
  <div class="col">
    <a routerLink="/home"><img src="../../assets/img/logo.png" class="logo-style ml-logo" alt="Shopper Logo"></a>
  </div>
  <div class="col-5 mt-header">
    <input type="search" class="form-control mr-sm-4" [(ngModel)]="searchText" placeholder="What are you looking for?">
  </div>
  <span class="mt-header padding-search">
    <button (click)="search(searchText)" class="btn btn-outline-success main-button" type="submit">
      Search
    </button>
  </span>
  <span class="mt-header padding-search">
    <button type="button" class="btn btn-outline-success main-button">
      <app-categories></app-categories>
    </button>
  </span>
</div>
