@import '../main';

a {
  color: #004b49;
}

li {
  list-style-type: none;
  font-size: .8rem;
  padding: 6px 0;
}

li a {
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
}

h6 {
  font-weight: bold;
  font-size: 1rem;
}

.topMargin {
  margin-top: 20px;
}

.social {
  padding: 5px;
}

.toRight {
  margin-left: 28px;
}

.logo {
  margin-top: 40px;
}
