<div class="row">
  <div class="col">
    <ul>
      <li><h6>About Shopper</h6></li>
      <li>Company Info</li>
      <li>News</li>
      <li>Careers</li>
      <li>Policies</li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li><h6>Help and Contact</h6></li>
      <li>Help Topics</li>
      <li>Return Policy</li>
      <li>Delivery Methods</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="col">
    <h6 class="marginBottom">Follow Us</h6>
    <div class="row">
      <div class="col">
        <a href="https://facebook.com" target="_blank"><img src="assets/img/fb.svg" alt="Facebook" height="35" width="35" class="social"></a>
        <a href="https://googleplus.com" target="_blank"><img src="assets/img/gplus.svg" alt="Google+" height="35" width="35" class="social"></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="https://twitter.com" target="_blank"><img src="assets/img/twitter.svg" alt="Twitter" height="35" width="35" class="social"></a>
        <a href="https://instagram.com" target="_blank"><img src="assets/img/ig.svg" alt="Instagram" height="35" width="35" class="social"></a>
      </div>
    </div>
  </div>
  <div class="col">
    <img src="assets/img/logo.png" alt="Shopper Logo" class="logo">
  </div>
</div>
