<div class="row mt-footer">
  <div class="col">
    <ul>
      <li><h6>About Shopper</h6></li>
      <li><a routerLink="/company">Company Info</a></li>
      <li>News</li>
      <li>Careers</li>
      <li><a routerLink="/policies">Policies</a></li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li><h6>Help and Contact</h6></li>
      <li><a routerLink="/help">Help Topics</a></li>
      <li><a routerLink="/return-policy">Return Policy</a></li>
      <li><a routerLink="/delivery-methods">Delivery Methods</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li><h6>Follow Us</h6></li>
    </ul>
      <div class="ml-icons">
        <a href="https://facebook.com" target="_blank"><img src="../../assets/img/fb.svg" alt="Facebook" class="sm-style"></a>
        <a href="https://googleplus.com" target="_blank"><img src="../../assets/img/gplus.svg" alt="Google+" class="sm-style"></a>
      </div>
      <div class="ml-icons">
        <a href="https://twitter.com" target="_blank"><img src="../../assets/img/twitter.svg" alt="Twitter" class="sm-style"></a>
        <a href="https://instagram.com" target="_blank"><img src="../../assets/img/ig.svg" alt="Instagram" class="sm-style"></a>
      </div>
  </div>
  <div class="col">
    <a routerLink="/home"><img src="../../assets/img/logo.png" alt="Shopper Logo" class="logo-style mt-logo"></a>
  </div>
</div>
