@import '../main';
@import '../_img';

ul {
  li {
    list-style-type: none;
    font-size: $list-font;
    padding: 6px 0;
  }
  a {
    text-decoration: none;
    color: $primary-color;
  }
  a:hover {
    font-weight: bold;
    color: $secondary-color
  }
}

h6 {
  font-weight: bold;
  font-size: $header-6-font;
}

.mt-footer {
  margin-top: 20px;
}

.ml-icons {
  margin-left: 28px;
}

.mt-logo {
  margin-top: 40px;
}
