<div class="row topMargin">
  <div class="col">
    <ul>
      <li><h6>About Shopper</h6></li>
      <li><a routerLink="/company">Company Info</a></li>
      <li>News</li>
      <li>Careers</li>
      <li><a routerLink="/policies">Policies</a></li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li><h6>Help and Contact</h6></li>
      <li><a routerLink="/help">Help Topics</a></li>
      <li><a routerLink="/return-policy">Return Policy</a></li>
      <li><a routerLink="/delivery-methods">Delivery Methods</a></li>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li><h6>Follow Us</h6></li>
    </ul>
      <div class="toRight">
        <a href="https://facebook.com" target="_blank">
          <img src="assets/img/fb.svg" alt="Facebook" height="50" width="50" class="social"></a>
        <a href="https://googleplus.com" target="_blank">
          <img src="assets/img/gplus.svg" alt="Google+" height="50" width="50" class="social"></a>
      </div>
      <div class="toRight">
        <a href="https://twitter.com" target="_blank">
          <img src="assets/img/twitter.svg" alt="Twitter" height="50" width="50" class="social"></a>
        <a href="https://instagram.com" target="_blank">
          <img src="assets/img/ig.svg" alt="Instagram" height="50" width="50" class="social"></a>
      </div>
  </div>
  <div class="col">
    <img src="assets/img/logo.png" alt="Shopper Logo" class="logo" height="65" width="260">
  </div>
</div>
