<div class="row">
  <h2>We currently offer the following three delivery options for getting your order to you:</h2>
  <ul>
    <li>Hermes home delivery: Free</li>
    <li>Standard delivery: 3-5 days (Mon-Sat), excluding public holidays (expected delivery date provided at checkout)</li>
    <li>Hermes Click & Collect: Free</li>
  </ul>
</div>
<div class="row">
  <p>
    Standard delivery: 3-5 days (Mon-Sat), excluding public holidays
  </p>
  <p>
    Add your 'pick-up point' address at checkout when prompted for your delivery address
  </p>
  <p>
    You'll receive an SMS when your parcel is ready to be collected
  </p>
  <p>
    DHL Express delivery: £5.95
  </p>
  <p>
    Next day delivery when you order before 2:00 pm, Monday to Friday, excluding public holidays
  </p>
  <p>
    Select 'Express delivery' on the final order confirmation page after you've selected the home delivery option
  </p>
  <p>
    Once your order is shipped, we'll send a confirmation email with the expected delivery date.
    This date is also displayed at the checkout.
  </p>
  <p>
    All orders from shopper.com can be delivered to an address located in the UK only.
    We do not offer international shipping.
  </p>
</div>







