<div class="container">
  <h5 class="ta-center">
    SHOPPING BASKET
  </h5>
  <div class="border-basket center">
    <!--<p class="paragraph-font">
      Your shopping basket is empty.
    </p>-->
    <div *ngFor="let item of products" class="sortProducts">
      <h5>
        {{item.title}}, £{{item.price}}
      </h5>
      qweqwe
    </div>
  </div>
  <button (click)="goBack()" class="btn btn-outline-success my-2 my-sm-0 main-button back-button" type="submit">
    BACK TO TOP
  </button>
</div>
