<div class="container">
  <div class="row">
    <h2>
      Products
    </h2>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="my-1 mr-2 header-font" for="inputGroupSelect01">Sort by:</label>
        </div>
        <select class="form-control form-control-sm header-font" id="inputGroupSelect01">
          <option selected>Most popular</option>
          <option value="1" (click)="sortType('price')">
            Lowest price
          </option>
          <option value="2">Highest price</option>
          <option value="3">Sale</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <ul>
        <li *ngFor="let item of products" class="sortProducts">
          <p>
            £{{item.price}}
          </p>
          <p>
            {{item.title}}
          </p>
          <p>
            {{item.description}}
          </p>
          <p>
            {{item.gender}}
          </p>
        </li>
        <!--sorting items-->
        <!--<li *ngFor="let value of items">
          {{value.price}} {{value.title}}
        </li>-->
      </ul>
    </div>
  </div>
</div>
