<div class="container">
  <h5 class="ta-center">
    PERSONAL INFORMATION
  </h5>
  <form class="ta-center">
    <div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="firstName">
            First Name
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="firstName">
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="lastName">
            Last Name
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="lastName">
        </div>
      </div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="dob">
            Date of Birth
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="dob">
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="email">
            Email address
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="email">
        </div>
      </div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label>
            Gender
          </label>
        </div>
        <div class="col-2 form-group inline-block header-font">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1">
          <label class="form-check-label" for="inlineRadio1">
            Woman
          </label>
        </div>
        <div class="col-2 form-group inline-block header-font">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
          <label class="form-check-label" for="inlineRadio2">
            Man
          </label>
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="phone">
            Phone number
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="phone">
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-sm main-button btn-margin">
          Save
        </button>
      </div>
    </div>
  </form>
  <h5 class="ta-center">
    ADDRESS
  </h5>
  <form class="ta-center">
    <div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="address">
            Address
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="address">
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="address2">
            Address line 2
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="address2">
        </div>
      </div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="zip">
            ZIP/postal code
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="zip">
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="town">
            Town
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="town">
        </div>
      </div>
      <div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="district">
            District
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="district">
        </div>
        <div class="col-2 form-group inline-block ta-left header-font less-width">
          <label class="form-check-label" for="country">
            Country
          </label>
        </div>
        <div class="col-4 form-group inline-block">
          <input class="form-control form-control-sm" id="country">
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-sm main-button btn-margin">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
