<form (submit)="login()" [formGroup]="loginForm">
  <h1 class="ta-center">
    Sign In
  </h1>
  <div class="central">
    <div class="form-group">
      <input type="email" name="Email" class="form-control" placeholder="Email Address" [(ngModel)]="Email"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">
          Username is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" name="Password" class="form-control" placeholder="Password" [(ngModel)]="Password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">
          Password is required
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary main-button" (click)="signIn()" *ngIf="!authService.isSignedIn">
      Sign In
    </button>
    <button type="submit" class="btn btn-primary main-button" (click)="logout()" *ngIf="authService.isSignedIn">
      Log out
    </button>
    <div>
      <p>
        {{ message }}
      </p>
    </div>
  </div>
</form>
