<form (submit)="login()">
  <h1 class="ta-center">
    Sign In
  </h1>
    <div class="central">
      <div class="form-group">
        <input type="email" name="Email" class="form-control"
               placeholder="Email Address" formControlName="email" [(ngModel)]="Email">
      </div>
      <div class="form-group">
        <input type="password" name="Password" class="form-control" id="exampleInputPassword1"
               placeholder="Password" formControlName="password" [(ngModel)]="Password">
      </div>
      <button type="submit" class="btn btn-primary main-button">
        Sign In
      </button>
      <div class="form-check">
        <div class="inline-block">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label color-font" for="exampleCheck1">
            Remember me
          </label>
        </div>
        <div class="inline-block ml-120">
          <p>
            Forgot <a href="#">password</a>?
          </p>
        </div>
      </div>
    </div>
</form>
