<div class="catAlign">
  <nav>
    <div>
      <a routerLink="/art">Art</a>
    </div>
    <div>
      <a routerLink="/books">Books</a>
    </div>
    <div>
      <a routerLink="/camera">Cameras and Photo</a>
    </div>
    <div>
      <a routerLink="/phone">Cell Phones and Accessories</a>
    </div>
    <div>
      <a routerLink="/clothes">Clothes, Shoes and Accessories</a>
    </div>
    <div>
      <a routerLink="/computer">Computers, Tablets and Networking</a>
    </div>
    <div>
      <a routerLink="/film">DVDs and Films</a>
    </div>
    <div>
      <a routerLink="/gift">Gift Cards and Coupons</a>
    </div>
    <div>
      <a routerLink="/health">Health and Beauty</a>
    </div>
    <div>
      <a routerLink="/garden">Home and Garden</a>
    </div>
    <div>
      <a routerLink="/jewelry">Jewelry and Watches</a>
    </div>
    <div>
      <a routerLink="/music">Music</a>
    </div>
    <div>
      <a routerLink="/pet">Pet Supplies</a>
    </div>
    <div>
      <a routerLink="/sport">Sport</a>
    </div>
  </nav>
</div>
