@import 'main.scss';
@import '_img.scss';


.main-button {
  color: $background-color;
  font-size: $header-6-font;
  background-color: $primary-color;
  border-color: $primary-color;
}

.main-button:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.category-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: $primary-color;
  background-color: $primary-color;
  padding: .45rem .75rem;;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #F7F7F7;
  margin-left: 0;
}

.category-button:hover {
  color: #F7F7F7;
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.back-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}
