@import 'main.scss';

.logo-style {
  height: 65px;
  width: 260px;
}

.sm-style {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.header-icon {
  height: 20px;
  width: 20px;
}

.hover-img {
  height: 70px;
  width: 270px;
}

.hover-img-2 {
  height: 80px;
  width: 270px;
}
