@import 'main.scss';

.logo-style {
  height: 55px;
  width: 220px;
}

.sm-style {
  height: 50px;
  width: 50px;
  padding: 5px;
}

.header-icon {
  height: 20px;
  width: 20px;
}

.hover-img {
  height: 35px;
  width: 160px;
}

.hover-img-2 {
  height: 40px;
  width: 160px;
}
