<div class="container">
  <app-cookies *ngIf="!isAccepted()"></app-cookies>
  <div class="row">
    <div class="col">
      <img src="assets/img/logo.png" class="logo" alt="Shopper Logo">
    </div>
    <div class="col-10">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="What are you looking for?">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle categoryButton" routerLink="/categories"
                  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>
          <button class="btn btn-outline-success my-2 my-sm-0 colorButton" type="submit">Search</button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <nav>
        <div class="dropdown show rightAlign">
          <a class="btn dropdown-toggle" routerLink="/myAccount" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="categories">My Account</span>
          </a>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="separator"></div>
<div class="row"></div>
<div class="row"></div>
<div class="separator"></div>
<div class="container">
  <app-footer></app-footer>
</div>
