.row {
  margin-top: 5%;
}

.col {
  max-width: 45%;
}

.col-10 {
  max-width: 85%;
  flex: 0 0 50%;
}

.categories {
  font-size: 1.1vw;
  color: #004b49;
}

.rightAlign {
  text-align: right;
}

.colorButton {
  color: #F7F7F7;
  font-size: 1.1vw;
  background-color: #004b49;
  border-color: #004b49;
  margin-left: 0;
}

.categoryButton {
  background: white;
  color: #004b49;
  border-radius: 0;
}

.separator {
  background: #ddd;
  border: 0;
  box-sizing: border-box;
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 30px;
}

a {
  color: #004b49;
}

ul {
  margin-bottom: 40px;
}

li {
  list-style-type: none;
  font-size: 0.9vw;
  padding: 5px 0;
}

h6 {
  font-weight: bold;
}

.logo {
  margin-top: -20px;
}

.logoDown {
  margin-top: 30px;
}

.social {
  margin-right: 10px;
}
