@import '~bootstrap/dist/css/bootstrap.min.css';

$font-stack: Noto Sans;

$background-color: #F7F7F7;
$primary-color: #006663;
$secondary-color: #004b49;
$p-color: #001a19;

$list-font: .8rem;
$p-font: .9rem;
$header-6-font: 1rem;

$h1-margin: 50px 0 30px 0;

.separator {
  background: #ddd;
  border: 0;
  box-sizing: border-box;
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 30px;
}

body {
  background-color: $background-color;
  font-family: $font-stack;
}

textarea {
  resize: none;
}

.dropdownElem {
  color: $primary-color;
  font-size: $list-font;
  padding: 5px 0 5px 15px;
}

.dropdownElem:hover {
  font-weight: bold;
}

.center {
  margin: auto;
  text-align: center;
}

.central {
  position: relative;
  width: 25%;
  margin: auto;
}

.ta-center {
  text-align: center;
}

.help-margin {
  margin: 40px 0;
}

.list-style {
  list-style: none;
}
