@import '~bootstrap/dist/css/bootstrap.min.css';

$font-stack: Noto Sans;

$background-color: #F7F7F7;
$primary-color: #006663;
$secondary-color: #004b49;
$p-color: #001a19;

$list-font: .8rem;
$p-font: .9rem;
$header-6-font: 1rem;

$h1-margin: 50px 0 30px 0;

.separator {
  background: #ddd;
  border: 0;
  box-sizing: border-box;
  display: block;
  height: 1px;
  width: 100%;
}

body {
  background-color: $background-color;
  font-family: $font-stack;
}

textarea {
  resize: none;
}

.header-font {
  font-size: $list-font;
}

.paragraph-font {
  font-size: $header-6-font;
}

.dropdownElem {
  color: $primary-color;
  font-size: $list-font;
  padding: 5px 0 5px 15px;
}

.black-text {
  color: black;
}

.black-text:hover {
  color: $secondary-color;
}

.dropdownElem:hover {
  font-weight: bold;
  text-decoration: none;
}

.center {
  margin: auto;
  text-align: center;
}

.central {
  position: relative;
  width: 25%;
  margin: auto;
}

.ta-center {
  text-align: center;
}

.help-margin {
  margin: 40px 0;
}

.list-style {
  list-style: none;
}

.header-style:hover {
  cursor: pointer;
}

.absolute-position {
  position: absolute;
}

.relative-position {
  position: relative;
}

.fixed-position {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.bold-font {
  font-weight: bold;
  color: $secondary-color;
  margin-top: 30px;
}

.margin-list {
  margin: auto;
  width: 100%;
}

.alert {
  margin-bottom: 0;
}

.margin-basket-account {
  margin: 10px 0;
}

.inline-block {
  display: inline-block;
}

.flex-display {
  display: flex;
  flex-wrap: wrap;
  min-height: 2.75rem;
  padding: 0;
}

.flex-end {
  justify-content: flex-end;
}

.justify-middle {
  justify-content: center;
}

.img-position {
  top: -8px;
}

.text-position {
  top: 4px;
}

.hover-show-info:hover {
  .hover-hide {
    display: none;
  }
  .hover-show {
    display: inline-block;
  }
}

.hover-show-info {
  display: inline-block;
  .hover-show {
    display: none;
  }
}

.account-style {
  color: $primary-color;
  font-size: $list-font;
}

.account-style:hover {
  color: $secondary-color;
  font-weight: bold;
  text-decoration: none;
}
