<div class="row">
  <h1 class="ta-center">Cookies, Web Beacons, and Similar Technologies</h1>
</div>
<div class="row">
  <h3 class="ta-center">
    Our cookie notice details what information we collect through cookies, and how we use it to improve
    your experience on Shopper.
  </h3>
  <p>
    Like most sites, Shopper uses cookies, web beacons, and similar technologies. These are small data files that help us
    provide a faster, more secure experience. They allow you to get on with buying or selling on Shopper, without having
    to enter information like your username or password every time you use the site.
  </p>
  <p>
    For more details on how and why we use cookies, please see our full cookie notice below.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Cookie notice overview
  </h3>
  <p>
    When you visit or interact with our sites, services, applications, tools or messaging, we or our authorized service
    providers may use cookies, web beacons, and other similar technologies for storing information to help provide you
    with a better, faster, and safer experience, and for advertising purposes.
  </p>
  <p>
    This page is designed to help you understand more about these technologies and our use of them on our sites and in
    our services, applications, and tools. Below is a summary of a few key things you should know about our use of
    such technologies. You can review the contents of our full User Cookie Notice below.
  </p>
  <p>
    Our cookies and similar technologies have different functions. They are either necessary for the functioning of our
    services, help us improve our performance, give you extra functionalities, or help us to serve you relevant and
    targeted ads. We use cookies and similar technologies that only remain on your device for as long as you keep your
    browser active (session) and cookies and similar technologies that remain on your device for a longer period
    (persistent). You are free to block, delete, or disable these technologies if your device allows this. You can
    manage your cookies and your cookie preferences in your browser or device settings.
  </p>
  <p>
    Where possible, security measures are set in place to prevent unauthorized access to our cookies and similar
    technologies. A unique identifier ensures that only we and/or our authorized service providers have access to
    cookie data.
  </p>
  <p>
    Service providers are companies that help us with various aspects of our business, such as site operations,
    services, applications, advertisements and tools. We use some authorized service providers to help us to serve you
    relevant ads on our services and other places on the internet. These service providers may also place cookies on
    your device via our services (third party cookies). They may also collect information that helps them identify
    your device, such as IP-address, or other unique or device identifiers.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Full user cookie notice
  </h3>
  <p>
    Like most sites, we use technologies that are essentially small data files placed on your computer, tablet,
    mobile phone, or other devices (referred to collectively as a "device") that allow us to record certain pieces of
    information whenever you visit or interact with our sites, services, applications, messaging, and tools, and to
    recognize you across devices.
  </p>
  <p>
    The specific names and types of the cookies, web beacons, unique identifiers, and similar technologies we use to
    collect information (e.g. about the pages you view, the links you click, and other actions you take on our Services,
    within our advertising or e-mail content) may change from time to time. In order to help you better understand this
    Policy and our use of such technologies we have provided the following limited terminology and definitions:
  </p>
  <p>
    Cookies – Small text files (typically made up of letters and numbers) placed in the memory of your browser or
    device when you visit a website or view a message. Cookies allow a website to recognize a particular device or
    browser. There are several types of cookies:
  </p>
    <ul>
      <li>Session cookies expire at the end of your browser session and allow us to link your actions during that
        particular browser session</li>
      <li>Persistent cookies are stored on your device in between browser sessions, allowing us to remember your
        preferences or actions across multiple sites</li>
      <li>First-party cookies are set by the site you are visiting</li>
      <li>Third-party cookies are set by a third party site separate from the site you are visiting</li>
    </ul>
  <p>
    Cookies can be disabled or removed by tools that are available in most commercial browsers. The preferences for
    each browser you use will need to be set separately and different browsers offer different functionality and options:
  </p>
  <p>
    Web beacons – Small graphic images (also known as "pixel tags" or "clear GIFs") that may be included on our sites,
    services, applications, messaging, and tools, that typically work in conjunction with cookies to identify our users
    and user behavior.
  </p>
  <p>
    Similar technologies – Technologies that store information in your browser or device utilizing local shared objects
    or local storage, such as flash cookies, HTML 5 cookies, and other web application software methods. These
    technologies can operate across all of your browsers, and in some instances may not be fully managed by your
    browser and may require management directly through your installed applications or device. We do not use these
    technologies for storing information to target advertising to you on or off our sites.
  </p>
  <p>
    We may use the terms "cookies" or "similar technologies" interchangeably in our policies to refer to all
    technologies that we may use to store data in your browser or device or that collect information or help us
    identify you in the manner described above.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Your choice and our use of cookies, web beacons and similar technologies
  </h3>
  <p>
    We offer certain site features, services, applications, and tools that are available only through the use of these
    technologies. You are always free to block, delete, or disable these technologies if your browser, installed
    application, or device so permits. However, if you decline cookies or other similar technologies, you may not be
    able to take advantage of certain site features, services, applications, or tools. You may also be required to
    re-enter your password more frequently during your browsing session. For more information on how you can block,
    delete, or disable these technologies, please review your browser or device settings.
  </p>
  <p>
    Generally, these technologies allow our sites, services, applications, and tools to store relevant information in
    your browser or device and later read that information in order to identify you to our servers or internal systems.
    Where applicable, we protect our cookies and other similar technologies to help ensure that only we and/or our
    authorized service providers can interpret them by assigning them a unique identifier that is designed for
    interpretation only by us. We do not store any of your personal information on any of our
    cookies or other similar technologies.
  </p>
  <p>
    Any personal information that we collect and store through use of these technologies is first obtained through
    notice and consent: We obtain your consent by providing you with transparent notice of use of the technologies
    and, to the extent described herein, providing you with the opportunity to make a choice to disable these technologies.
  </p>
  <p>
    Our uses of such technologies fall into the following general categories:
  </p>
  <ol>
    <li>Operationally Necessary. We may use cookies, web beacons, or other similar technologies that are necessary to
      the operation of our sites, services, applications, and tools. This includes technologies that allow you access
      to our sites, services, applications, and tools, that are required to identify irregular site behavior, prevent
      fraudulent activity and improve security, or that allow you to make use of our functions such as shopping carts,
      saved search, or similar functions;</li>
    <li>Performance-Related. We may use cookies, web beacons, or other similar technologies to assess the performance
      of our websites, applications, services, and tools, including as part of our analytic practices to help us
      understand how our visitors use our websites, determine if you have interacted with our messaging, determine
      whether you have viewed an item or link, or to improve our website content, applications, services, or tools;</li>
    <li>Functionality-Related. We may use cookies, web beacons, or other similar technologies that allow us to offer
      you enhanced functionality when accessing or using our sites, services, applications, or tools. This may include
      identifying you when you sign into our sites or keeping track of your specified preferences, interests, or past
      items viewed so that we may enhance the presentation of content on our sites;</li>
    <li>Advertising or Targeting-Related. We may use first-party or third-party cookies and web beacons to deliver
      content, including ads relevant to your interests, on our sites or on third party sites. This includes using
      technologies to understand the usefulness to you of the advertisements and content that has been delivered
      to you, such as whether you have clicked on an advertisement.</li>
  </ol>
  <p>
    We offer you the ability to opt-out of our use of first-party advertising-related cookies through our Ad Choice
    program. To opt-out of the use of third-party advertising-related cookies and web beacons, see the section Ad
    Networks and Exchanges authorized by third-parties below. Opting out of our first-party advertising-related cookies,
    or out of third-party advertising-related cookies and web beacons as described below, does not necessarily mean that
    you will not see our advertising - only that this advertising will not be targeted to you through the use of
    first-party or third-party cookies, web beacons or related technologies.
  </p>
  <p>
    If you would like to opt-out of all other types of technologies we employ on our sites, services, applications, or
    tools, you may do so by blocking, deleting, or disabling them as your browser or device permits.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Use of these technologies by authorized third-party service providers
  </h3>
  <p>
    We may work with third-party companies, commonly known as service providers, who are authorized to place
    third-party cookies, web beacons, or similar technologies for storing information on our sites or in our
    services, applications, and tools with our permission. These service providers help us to provide you with a
    better, faster, and safer experience.
  </p>
  <p>
    These service providers may use these technologies to help us deliver content and advertising, and compile
    anonymous site metrics and analytics.  These service providers are subject to confidentiality agreements with us
    and other legal restrictions on their use or collection of any personal information. Third-party cookies are
    covered by the third parties' privacy policy.
  </p>
  <p>
    You may encounter cookies and tracking technologies from our third-party service providers, including but not
    limited to (1) Facebook to provide advertising services through Facebook’s advertising and marketing platforms
    (e.g., Audience Network, Website Custom Audiences) and other social networking plug-ins or marketing tools, and
    (2) Google to provide advertising services through Google’s advertising and marketing platforms (e.g.,
    DoubleClick for Publishers, Google DoubleClick AdX Service, Adwords). Facebook and Google may use the personal
    information that they have collected about you on our sites pursuant to their own privacy policies (Facebook Data
    Policy: https://www.facebook.com/privacy/explanation and
    Google Privacy Policy: https://www.google.com/intl/en/policies/privacy/).
  </p>
  <p>
    With the exception of the use of such technologies by our service providers or other authorized third parties,
    we do not permit any third-party content on sites (such as item listings, member-to-member communications,
    classified listings, comments, reviews, etc.) to include or utilize any cookies, web beacons, local storage,
    or similar technologies for tracking purposes or to collect your personal information for their own purposes.
    If you believe a listing or other third-party content might be collecting personal information or using tracking
    technologies on one of our sites, please report it to spam@shopper.com.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Ad networks and exchanges operated by authorized third parties
  </h3>
  <p>
    We may use third parties, such as advertising networks and exchanges, to allow us to serve you advertisements.
    These third-party ad networks and exchange providers may use third-party cookies, web beacons, or similar
    technologies to collect information. They may also collect your device identifier, IP address, or identifier
    for advertising (IDFA). The information that these third parties collect may be used to assist us in providing
    you with more relevant advertising that we serve on our sites or elsewhere on the web, and as described above.
    Third-party cookies are covered by the third parties' privacy policy.
  </p>
</div>
<div class="row">
  <h3 class="ta-center">
    Do Not Track
  </h3>
  <p>
    California law requires us to let you know how we respond to web browser Do Not Track (DNT) signals. Because there
    currently isn't an industry or legal standard for recognizing or honoring DNT signals, we don't respond to them at
    this time. We await the result of work by the privacy community and industry to determine when such a response is
    appropriate and what form it should take.
  </p>
</div>
