@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../main.scss';
@import '../../_button.scss';

.row {
  margin: 50px 220px;
}

h1, h3 {
  color: $secondary-color;
  margin: auto;
  padding-bottom: 20px;
}

p {
  font-size: $p-font;
}

ul li, ol li {
  font-size: $list-font;
}
