<div class="row">
  <h1>About our return policy</h1>
</div>
<div class="row">
  <p>
    If you're not happy with your purchase or think your goods arrived damaged, you can send any unused item back
    to us FREE of charge within 100 days of the delivery date.
  </p>
</div>
<div class="row">
  <p>
    For more information on how to return your order, please go <a routerLink="/return-policy">here</a>.
  </p>
</div>
<div class="row">
  <p>
    To find out more about our policy for damaged items, please go <a routerLink="/return-policy">here</a>.
  </p>
</div>
