h1 {
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

p {
  font-size: 13px;
}

.btn-primary {
  background-color: #004b49;
  border-color: #004b49;
}

form {
  width: 150%;
  margin-left: -350%;
}
