@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../main';
@import '../../_button';

ul li > a, .category-button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #F7F7F7;
}

a, .cat:hover {
  color: #F7F7F7;
}

.navbar {
  padding: 0;
}

.dropdown-menu {
  margin: 0;
  min-width: 8.5rem;
}

