@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../main';
@import '../../_button';

.dropdown-menu {
  margin: 7px;
  min-width: 10rem;
}

.drop {
  position: relative;
  right: 20px;
}

a:link, a:visited {
  text-decoration: none;
}
