<ul class="nav navbar-nav">
  <li class="dropdown" dropdown>
    <a dropdownToggle role="button" class="header-style hover-show-info">
      <img src="../../../assets/img/user.svg"
           class="header-icon margin-basket-account img-position absolute-position hover-hide" alt="My Account">
      <p class="header-font text-position absolute-position hover-show">
        Account
      </p>
    </a>
    <div class="drop">
      <ul *dropdownMenu class="dropdown-menu">
        <li class="dropdownElem">
          <a routerLink="/login" routerLinkActive="active" class="account-style">
            Login
          </a>
        </li>
        <li class="dropdownElem">
          <a routerLink="/register" class="account-style">
            Register
          </a>
        </li>
        <li class="dropdownElem">
          <a routerLink="/account-details" routerLinkActive="active" class="account-style">
            Account Details
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>
