@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../main.scss';
@import '../../_img.scss';
@import '../../_button.scss';


.dropdown-menu {
  min-width: 7.5rem;
  position: absolute;
}

.header-style:hover {
  cursor: pointer;
}

.navbar-nav[_ngcontent-c6] .dropdown-menu[_ngcontent-c6] {
  position: absolute;
  float: none;
}

.account-style {
  color: $primary-color;
  font-size: $list-font;
}

.account-style:hover {
  color: $secondary-color;
  font-weight: bold;
  text-decoration: none;
}

.drop {
  position: absolute;
  top: 40px;
  right: 90px;
}
