<div>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="dropdown" dropdown><a dropdownToggle role="button">My Account<span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li class="dropdownElem"><a routerLink="/login">Login</a></li>
          <li class="dropdownElem"><a routerLink="/register">Register</a></li>
          <li class="dropdownElem"><a routerLink="/details">Account Details</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
