.row {
  margin-top: 60px;
}

.colorButton {
  color: #F7F7F7;
  font-size: 1.1vw;
  background-color: #004b49;
  border-color: #004b49;
  margin-left: 0;
}

.categoryButton {
  background: white;
  color: #004b49;
  border-radius: 0;
}

.logo {
  margin-top: -20px;
}
