.row {
  margin-top: 40px;
}

.colorButton {
  color: #F7F7F7;
  font-size: 1.1vw;
  background-color: #004b49;
  border-color: #004b49;
  margin-left: 0;
}

.colorButton:hover {
  color: #004b49;
  background-color: #F7F7F7;
  border-color: #004b49;
}

.categoryButton {
  border-radius: 0;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
  color: #004b49;
  background-color: #F7F7F7;
  border-color: #004b49;
}

.logo {
  margin: -20px 40px 0 50px;
}

.wider {
  margin-left: 70px;
}
