<div class="row">
  <div class="col">
    <img src="assets/img/logo.png" class="logo" alt="Shopper Logo" height="65" width="260">
  </div>
  <div class="col-4">
    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="What are you looking for?">
  </div>
  <div class="col">
    <app-categories></app-categories>
  </div>
  <div class="col">
    <button class="btn btn-outline-success my-2 my-sm-0 colorButton" type="submit">Search</button>
  </div>
  <div class="col">
    <app-my-account></app-my-account>
  </div>
</div>
