<div class="container">
  <div class="row">
    <h1>ABOUT US</h1>
    <p>
      Welcome to Shopper. From the beginning we've been all about High Street to High End brands - bringing them
      together, all in one place. We have Europe’s largest selection of clothing, accessories and shoes online,
      mixing popular British High Street brands with high end designers and fresh, independent labels.
    </p>
    <p>
      We want to make shopping online safe and simple for you. For us that means:
    </p>
    <h5>
      OVER 1,500 BRANDS - FROM HIGH STREET TO HIGH END
    </h5>
    <p>
      We're proud to showcase Europe's largest selection of clothing, shoes and accessories online. Shop High Street
      to High End with over 1,500 of your favourite brands for men, women, kids and every occasion imaginable.
      See what's new in for her and for him.
    </p>
    <h5>
      FREE STANDARD UK DELIVERY, ON EVERY SINGLE ITEM
    </h5>
    <p>
      We offer free delivery on each and every item - no matter how big or small your order. Choose from either home
      delivery or collection at your local parcel shop. Sometimes fabulous fashion waits for no (wo)man so if you
      need things a little quicker than our standard 2-4 working days delivery, you can also choose Express Delivery at
      the checkout for just £5.95.
      Find out more about our delivery options.
    </p>
    <h5>
      FREE AND FLEXIBLE RETURNS - TAKE YOUR TIME!
    </h5>
    <p>
      If you change your mind about something or it's not quite the right fit - no worries. You can send any unworn
      item back to us free of charge within 100 days of the order being placed.
      Learn more about our 100-Day Returns policy in our help section.
    </p>
    <h5>
      SAFE AND SECURE SHOPPING
    </h5>
    <p>
      We believe online shopping should be safe and secure for everyone. We promise secure payment with SSL
      encryption, buyer and data protection.
    </p>
  </div>
  <button (click)="goBack()" class="btn btn-outline-success my-2 my-sm-0 main-button back-button" type="submit">
    BACK TO TOP
  </button>
</div>
