<!--
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" routerLink="/login" href="#">Login</a>
    <a class="dropdown-item" routerLink="/details" href="#">Account Details</a>
    <a class="dropdown-item" routerLink="/register" href="#">Register</a>
  </div>
</div>
-->
<div>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="dropdown" dropdown><a dropdownToggle role="button">My Account<span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu">
          <li class="dropdownElem"><a routerLink="/login">Login</a></li>
          <li class="dropdownElem"><a routerLink="/register">Register</a></li>
          <li class="dropdownElem"><a routerLink="/details">Account Details</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<!--

<div class="dropdown show rightAlign">
  <a class="btn dropdown-toggle" routerLink="/myAccount" role="button" id="dropdownMenuLink"
     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="categories">My Account</span>
  </a>
</div>
<div class="rightAlign">
  <nav>
    <div>
      <a routerLink="/login">Login</a>
    </div>
  </nav>
  <nav>
    <div>
      <a routerLink="/details">Account Details</a>
    </div>
  </nav>
  <nav>
    <div>
      <a routerLink="/register">Register</a>
    </div>
  </nav>
  <nav>
    <div>
      <a routerLink="/basket">Basket</a>
    </div>
  </nav>
  <nav>
    <div>
      <a routerLink="/history">Purchase History</a>
    </div>
  </nav>
  <nav>
    <div>
      <a>Watch List</a>
    </div>
  </nav>
  <nav>
    <div>
      <a>Messages</a>
    </div>
  </nav>
  <nav>
    <div>
      <a>Log Out</a>
    </div>
  </nav>
</div>
-->
