@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../main';
@import '../../_button';
@import '../../_img';

.items-padding {
  margin-right: 4rem;
}

.middle-part {
  font-size: $list-font;
  color: $primary-color;
}

.middle-part:hover {
  color: $secondary-color;
}

.insert-content::after {
  content: "|";
}

.pl-contact {
  padding-left: .2rem;
}

a:link, a:visited {
  text-decoration: none;
}

p {
  margin: 0;
}

.pin-position {
  top: -20px;
}

.find-position {
  top: -16px;
  color: black;
}
