<div class="flex-display">
  <div class="col-lg-4 inline-block items">
    <div class="relative-position inline-block">
      <a routerLink="user-agreement">
        <p class="insert-content margin-basket-account">
          User Agreement
        </p>
      </a>
    </div>
    <div class="relative-position inline-block">
      <a routerLink="contact-us">
        <p class="pl-contact margin-basket-account">
           Contact
        </p>
      </a>
    </div>
  </div>
  <div class="col-lg-4 inline-block items justify-middle">
    <div class="relative-position">
      <h6 class="margin-basket-account">
        FREE shipping and returns!*
      </h6>
    </div>
  </div>
  <div class="col-lg-4 inline-block items flex-end">
    <div class="relative-position items-padding inline-block ">
      <app-basket></app-basket>
    </div>
    <div class="relative-position inline-block ">
      <app-my-account></app-my-account>
    </div>
  </div>
</div>
