<div class="flex-display">
  <div class="col-lg-4 inline-block items">
    <div class="relative-position inline-block">
      <a routerLink="user-agreement">
        <p class="insert-content margin-basket-account header-font middle-part">
          User Agreement
        </p>
      </a>
    </div>
    <div class="relative-position inline-block">
      <a routerLink="policies">
        <p class="pl-contact margin-basket-account middle-part">
           Policies
        </p>
      </a>
    </div>
  </div>
  <div class="col-lg-4 inline-block items justify-middle">
    <div class="relative-position hover-show-info">
      <h6 class="margin-basket-account header-font hover-hide">
        FREE shipping and returns!*
      </h6>
      <h6 class="margin-basket-account header-font hover-show">
        Free Shipping on Orders Over £50
      </h6>
    </div>
  </div>
  <div class="col-lg-4 inline-block items flex-end">
    <div class="relative-position items-padding inline-block hover-show-info">
      <a routerLink="contact-us">
        <img src="../../../assets/img/pin.svg"
             class="header-icon margin-basket-account pin-position absolute-position hover-hide" alt="Map pin">
        <p class="header-font find-position absolute-position hover-show">
          Find Us
        </p>
      </a>
    </div>
    <div class="relative-position items-padding inline-block ">
      <a routerLink="basket" role="button" class="header-style hover-show-info">
        <img src="../../../assets/img/shop.svg"
             class="header-icon margin-basket-account img-position absolute-position hover-hide img-margin" alt="Basket">
        <p class="header-font text-position absolute-position hover-show middle-part">
          Basket
        </p>
      </a>
    </div>
    <div class="relative-position inline-block ">
      <app-my-account></app-my-account>
    </div>
  </div>
</div>
