@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../../main.scss';
@import '../../../_button.scss';

.row {
  margin: 50px 200px;
}

h1, h2 {
  color: $secondary-color;
  margin: auto;
  padding: 30px 0 20px 0;
}

p {
  font-size: $p-font;
  margin-top: 5px;
}

.list-font {
  font-size: $list-font;
}

img {
  padding: 10px 40px 20px 40px;
}

.bold-font {
  font-weight: bold;
  color: $secondary-color;
  margin-top: 30px;
}

.margin-button {
  margin: auto;
  width: 30%;
}

.mt-paragraph {
  margin-top: 20px;
}

.margin-list {
  margin: auto;
  width: 100%;
}

a:hover {
  cursor: pointer;
}

.btn-outline-secondary {
  color: #6c757d;
  background: transparent;
  border: none;
}
