@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../../../main.scss';
@import '../../../_button.scss';
@import '../../../_img.scss';

.row {
  margin: 50px 200px;
}

h1, h2 {
  color: $secondary-color;
  margin: auto;
  padding: 30px 0 20px 0;
}

p {
  font-size: $p-font;
  margin-top: 5px;
}

.list-font {
  font-size: $list-font;
}

.mt-paragraph {
  margin-top: 20px;
}

a:hover {
  cursor: pointer;
}

.top-position {
  top: 480px;
}

.top-position-del {
  top: 490px;
}

.top-position-ref {
  top: 460px;
}

.left-position-1 {
  left: 320px;
}

.left-position-2 {
  left: 570px;
}

.left-position-3 {
  right: 260px;
}

.left-position-4 {
  right: 310px;
}

.row-2-position {
  top: 680px;
}

.mt-orders {
  margin-top: 350px;
}

.top-hov-position {
  top: 530px;
}

.top-hov-2-position {
  top: 740px;
}
