<div class="row">
  <h1>About us</h1>
</div>
<div class="row">
  <p>
    Shopper is where the world goes to shop, sell, and give.
  </p>
  <p>
    Whether you are buying new or used, plain or luxurious, commonplace or rare, trendy or one-of-a-kind – if it exists
    in the world, it probably is for sale on Shopper. Our mission is to be the world’s favourite destination for
    discovering great value and unique selection.
  </p>
  <p>
    We give sellers the platform, solutions, and support they need to grow their businesses and thrive.
    We measure our success by our customers' success.
  </p>
  <p>
    Our vision for commerce is one that is enabled by people, powered by technology, and open to everyone.
  </p>
  <p>
    We empower people and create economic opportunity.
  </p>
  <p>
    We focus on partnering with our sellers, not competing with them. We are building stronger connections between
    buyers and sellers with product experiences that are fast, mobile, and secure. And we are transforming the
    individual selling experience to help you turn the things you no longer need into cash you can use.
  </p>
</div>
