<div class="row">
  <h1>Shopper’s rules and policies</h1>
</div>
<div class="row">
  <p>
    We're committed to providing a secure and fair marketplace for our buyers and sellers.
    To support this commitment, we've put in place rules and policies that govern our expectations of buyers and
    sellers, the actions we'll take to keep you safe, and how we'll protect you if something goes wrong.
  </p>
  <p>
    By becoming familiar with and following our policies, you'll help us maintain a safe environment for all,
    and be able to avoid interruptions that might come from inadvertent violations of our rules.
  </p>
  <p>
    Some of our rules reflect local legal requirements, while others are based on our experience of how best to protect
    everyone using Shopper services.
  </p>
  <p>
    In our policy section, you'll find information on items that can and can't be sold, guides to creating and
    maintaining listings, details on how we protect your personal details and more.
  </p>
  <p>
    You can also find our <a href="#">User Agreement</a> and <a href="#">Cookie Notice</a>. These lay out the most
    critical information around our terms of use, the information we collect from you, and how we keep that information safe.
  </p>
</div>
